table {
    padding: 90px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
}

.tituloInscricao tr th {
    padding-right: 95px;
    font-size: 16px;
}

.minhaInscricao tr td {
    padding: 50px 30px 10px 10px;
    font-size: 15px;
    border-color: #DCDCDC;
    border-bottom-style: solid;
    border-width: 2px;
}

.inscricao {
    width: 100px;
    height: 30px;
    color: white;
    background-color: #FF0000;
    border-radius: 4px;
    border: #FF0000;
    font-weight: bold;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.inscricao:hover {
    background-color: #FF0019;
}

.capa-inscricao {
    margin-top: 30px;
    width: 100%;
    border: 80px solid #000000;
    background-color: #000;
}

.semInscricao tr td {
    padding: 80px 0 10px 0px;
    font-size: 20px;
}