.cardlista {
    font-family: 'Montserrat', sans-serif;
}

.cardlista.card {
    width: 50rem;
    height: 40rem;
    margin: 90px auto 30px 400px;
    border-radius: 4px;
    border-color: #FF0000;
    border-width: 2px 2px 28px 2px;
}

.cardlista h3 {
    margin: 40px 0 0 16px;
    font-size: 20px;
    font-weight: bold;
}

.cardlista h4 {
    margin: 10px 0 10px 16px;
    font-size: 19px;
    font-weight: bold;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: none;
}

.card-body {
    display: flex;
}

.btn.btn-primary {
    width: 140px;
    height: 50px;
    color: white;
    background-color: #FF0000;
    border-radius: 4px;
    border: #FF0000;
    font-weight: bold;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.btn.btn-primary:hover {
    background-color: #f10034;
}

.itenslista {
    font-family: 'Montserrat', sans-serif;
    font-style: bolder;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    padding: 10px 17px;
    font-weight: bold;
    font-size: 14px;
}