.vagas {
    font-family: 'Montserrat', sans-serif;
}

.formulariovaga hr {
    margin: 5px 0 20px 0;
}

.formulariovaga {
    border-width: 2px;
    border-style: solid;
    border-color: #FF0000;
    border-radius: 4px;
    padding: 60px;
    width: 1100px;
    height: 560px;
    margin: 80px 200px;
}

.formulariovaga h1 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 10px;
}

.formulario form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
}

.form-label {
    margin: 10px 10px 5px 10px;
    display: flex;
    font-weight: bold;
}

.form-control {
    padding: 8px;
    margin: 0px 80px 0px 10px;
    width: 250px;
    height: 36px;
    border-width: 1px;
    border-color: black;
}

#cadastrar {
    margin: 40px;
    width: 100px;
    height: 30px;
    margin-left: 460px;
    color: white;
    background-color: #FF0000;
    border-radius: 2px;
    border-color: #FF0000;
    font-weight: bold;
}