/* .etapa_candidato {
    width: 3rem;
    height: 3rem;
    background-color: #ff0000;
    border-radius: 100%;
    margin: auto;
}

.etapa_candidato>p {
    color: white;
    font-size: 25px;
    padding: 3px 0 0 16px;
}

.linha2 {
    background-color: black;
    width: 2px;
    height: 480px;
    margin: auto;
    margin-top: 30px;
}

.linha3 {
    background-color: black;
    width: 2px;
    height: 400px;
    margin: auto;
    margin-top: 30px;
}

.linha4 {
    background-color: black;
    width: 2px;
    height: 730px;
    margin: auto;
    margin-top: 30px;
}

.button4 {
    background-color: #FF0000;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button44 {
    background-color: white;
    color: black;
    border: 2px solid #FF0000;
}

.button44:hover {
    background-color: #FF0000;
    color: white;
} */

* {
    font-family: 'Montserrat', sans-serif;
}

.linha_candidato {
    background-color: black;
    width: 2px;
    height: 550px;
    margin: auto;
    margin-top: 30px;
}

.cadastro-candidato {
    margin: 2rem 10rem;
    width: 80%;
    height: 90rem;
}

.cadastro-candidato_icone-perfil {
    width: 150px;
    height: 150px;
}

.dados-candidato {
    height: 52rem;
    margin-top: 30px;
}

.form-row {
    padding: 0.8rem 0;
}

.form-group {
    width: 100%;
    padding: 4px;
}

.form-group input {
    width: 100%;
    margin: 0 2px;
}

.candidato-foto {
    max-width: 15%;
}